<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="container" *ngFor="let mensaje of mensajes">
    <ng-container *ngIf="mensaje.transmitter === emisor.id; else receiver">
      <div class="container-transmitter">
        <!-- <img [src]="urlImage+'/'+transmitter.img" width="24px"> -->
        <p class="transmitter">(yo) {{mensaje.message}} </p>
      </div>
    </ng-container>
    <ng-template #receiver>
      <div class="container-receiver">
        <!-- <img [src]="urlImage+'/'+urlReciver" width="24px"> -->
        <p class="receiver">(el otro) {{mensaje.message}} </p>
      </div>
    </ng-template>
  </div>


</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-item>
      <ion-input #mess></ion-input>
      <ion-button fill="clear" (click)="adjuntarAchivo()">
        <ion-icon name="attach"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="enviarMensaje(mess.value)">
        <ion-icon slot="end" name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>