<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      <h3 text-center>CHAT</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="inset" *ngFor="let usuario of usuarios">
    <ion-item (click)="roomChat(usuario.id, usuario.name)">
      <ion-label>{{usuario.name}}</ion-label>
      <div *ngFor="let mensajesRecivido of mensajesRecividos">
        <ion-icon name="checkmark"
          *ngIf="mensajesRecivido.transmitter === usuario.id && mensajesRecivido.receiver === currentUser.id"></ion-icon>
        <!-- {{mensajesRecivido.total_mensajes}} -->
      </div>
    </ion-item>
  </ion-list>

</ion-content>